.container-box {
  width: 332px;
  background-color: #0d72ea;
  border-radius: 8px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  position: relative;
  text-align: start;
  padding: 16px;
  z-index: 9;
  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px;
    font-weight: 300;
  }
  .button-box {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    button {
      height: 32px;
    }
  }
}
